.Rproj.user
.Rhistory
.RData
.Ruserdata
data-viz/inputs/report_outline.xlsx
data-viz/output/data4web_gpp.csv
data-viz/output/data4web_qrq.csv
/data-viz/output/charts
data-viz/output/data4web_gpp.xlsx
data-viz/output/data4web_qrq.xlsx
data-viz/output/data4web_gpp.xlsx
data-viz/output/data4web_gpp.xlsx
data-viz/output/special_datapoints.xlsx
/final-charts/R1
/final-charts/__pycache__
/final-charts/R2
/final-charts/R3
html/example-pdf.pdf
html/csv-schema-example.csv
/final-charts/R1 - reduced
/final-charts/R1 - Copy
/final-charts/reduced
/final-charts/no-tooltip
data-viz/.DS_Store
final-charts/.DS_Store
.DS_Store
data-viz/output/variance_analysis
data-viz/output/variance_analysis.csv
/final-charts/with-tooltip
/final-charts/mini-tables
/html/R1/assets
/html/R3/assets
html/R2/assets/R2B2.svg
html/R2/assets/R2B1.svg
/html/R2/assets
